html {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 2em;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

h2 {
  width: 100%;
  border-bottom: solid 1px #ccc;
  margin-top: 40px;
}

rp, rt {
  font-size: 0.25em;
  color: #333;
  font-weight: normal;
}

ruby {
  font-weight: bold;
}

.char {
  float: right;
  font-size: 2.2em;
  min-width: 80px;
  min-height: 70px;
  text-align: center;
  padding: 20px 5px 5px 5px;
  background: #ccc;
  border: solid 1px #fff;
}

.clear {
  clear: both;
}

.correct-answer {
  background-image: url('/static/img/correct.png');
  background-repeat: no-repeat;
  font-weight: bold;
}

.hello {
  font-size: 4em;
}

.incorrect-answer {
  background-image: url('/static/img/incorrect.png');
  background-repeat: no-repeat;
  font-weight: bold;
}

.jumbotron {
  font-size: 2em;
  font-weight: bold;
}

.quiz-char {
  font-size: 5em;
  text-align: center;
  background-color: inherit;
  border: inherit;
}

.row {
  font-size: 1.3em;
  background-color: #fefefe;
  padding: 10px;
}
