<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <style>
    div.char { float:right;font-size:2em;width:80px;text-align:center;font-weight:bold;background:#ccc;border:solid 1px #fff; }
    br.clear { clear:both; }
  </style>
</head>
<body>
  <h1>gojuon</h1>

  {% for char in chars %}
  {% if not char.is_dakuten and not char.is_handakuten and not char.is_yoon %}
  <div class="char">{{ char.romaji }}</div>
  {% if char.gojuon_row == 4 %}<br class="clear" />{% endif %}
  {% endif %}
  {% endfor %}
</body>
</html>
